#welcomeText {
    position: absolute;
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

h1{
    font-size: 25px;
    letter-spacing: px;
}

h2 {
    font-size: 50px;
    letter-spacing: 5px;
}

hr {
    width: 100%;
    color: white;
}